@model MitternachtsCup.ViewModels.AlleSpieleVm

@{
    
}

<h2>Alle anzulegende Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>ID</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>ID</th>
        <th>Anlegen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var spiel in Model.GruppenSpieleAusJson)
    {
        <tr>
            <td>@spiel.Id</td>
            <td>@spiel.Name</td>
            <td>@spiel.Platte</td>
            <td>@spiel.StartZeit</td>
            <th>@spiel.TeamAId</th>
            <th>@spiel.TeamAName</th>
            <th>@spiel.TeamBName</th>
            <th>@spiel.TeamBId</th>
            <td><a asp-action="CreateSpiel" asp-route-name=@spiel.Name asp-route-teamAId=@spiel.TeamAId asp-route-teamBId=@spiel.TeamBId class="btn btn-primary">Post</a></td>
        </tr>
    }
    </tbody>
</table>

<h2>Alle angelegten Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nr</th>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>ID</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var spiel in Model.AngelegteSpiele)
    {
        <tr>
            <td>@spiel.Id</td>
            <td>@spiel.Name</td>
            <td>@spiel.Platte</td>
            <td>@spiel.StartZeit</td>
            <th>@spiel.TeamAId</th>
            <th>@spiel.TeamA.Name</th>
            <th>@spiel.TeamB.Name</th>
            <th>@spiel.TeamBId</th>
        </tr>
    }
    </tbody>
</table>