@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model IEnumerable<MitternachtsCup.ViewModels.GruppeVm>

@{
}

@foreach (var item in Model)
{
    <h2>@item.GruppenName</h2>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Team-Nummer</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var team in item.Teams)
        {
            <tr>
                <td>@team.Id</td>
                <td>@team.Name</td>
            </tr>
        }
        </tbody>
    </table>
    
    <h3>Paarunge</h3>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nr</th>
            <th>Name</th>
            <th>Platte</th>
            <th>Starzeit</th>
            <th>Spieldauer</th>
            <th>ID</th>
            <th>TeamA Name</th>
            <th>TeamB Name</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var spiel in item.GruppenSpiele)
        {
            <tr>
                <td>@spiel.GruppenSpielNr</td>
                <td>@spiel.Name</td>
                <th>@spiel.Platte</th>
                <td>@spiel.StartZeit</td>
                <td>@spiel.SpielDauer</td>
                <td>@spiel.TeamAId</td>
                <td>@spiel.TeamAName</td>
                <td>@spiel.TeamBName</td>
                <td>@spiel.TeamBId</td>
            </tr>
        }
        </tbody>
    </table>
}


<a asp-controller="Gruppen" asp-action="AlleGruppenSpiele" class="btn btn-sm btn-outline-secondary">Spiele generieren</a>
