@model MitternachtsCup.ViewModels.GruppeVm

@{
    
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="Index">Alle Spiele</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeA">Gruppe A</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeB">Gruppe B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeC">Gruppe C</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeD">Gruppe D</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeE">Gruppe E</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeF">Gruppe F</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeG">Gruppe G</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Turnierplan" asp-action="GruppeH">Gruppe H</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>Gruppe B</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Platz</th>
        <th>Name</th>
        <th>Punkte</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var team in Model.PlatzierungTeams)
    {
    <tr>
        <td>@team.Platzierung</td>
        <td>@team.Name</td>
        <td>@team.Punkte</td>
        <td>@team.Spiele : @team.Gegenspiele</td>
    </tr>
    }
    </tbody>
</table>

<h3>Kommende Gruppenspiele</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>TeamA</th>
        <th>TeamB</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var spiel in Model.GruppenSpiele)
    {
    <tr>
        <td>@spiel.Name</td>
        <th>@spiel.Platte</th>
        <td>@spiel.StartZeit</td>
        <td>@spiel.TeamAName</td>
        <td>@spiel.TeamBName</td>
    </tr>
    }
    </tbody>
</table>

<h2>Vergangene Gruppenspiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>TeamA</th>
        <th>TeamB</th>
        <th>Ergebnis</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var spiel in Model.VergangeneGruppenSpiele)
    {
    <tr>
        <td>@spiel.Name</td>
        <th>@spiel.Platte</th>
        <td>@spiel.StartZeit</td>
        <td>@spiel.TeamAName</td>
        <td>@spiel.TeamBName</td>
        <td>
            @if (spiel.Ergebnis != null)
            {
            @:@spiel.Ergebnis.PunkteTeamA : @spiel.Ergebnis.PunkteTeamB
            }

        </td>
    </tr>
    }
    </tbody>
</table>


