@model MitternachtsCup.ViewModels.TurnierplanVm

@{
    
}

<h2>Gruppenspiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>SpielDauer</th>
        <th>Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Nr</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppenSpieleOhneErgebnis)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Platte</td>
        <td>@item.StartZeit</td>
        <td>@item.SpielDauer</td>
        <td>@item.TeamAId</td>
        <td>@item.TeamAName</td>
        <td>@item.TeamBName</td>
        <td>@item.TeamBId</td>
    </tr>
    }
    </tbody>
</table>

<h2>Vergangene Gruppenspiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>SpielDauer</th>
        <th>Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Nr</th>
        <th>Ergebnis</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppenSpieleMitErgebnis)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Platte</td>
        <td>@item.StartZeit</td>
        <td>@item.SpielDauer</td>
        <td>@item.TeamAId</td>
        <td>@item.TeamAName</td>
        <td>@item.TeamBName</td>
        <td>@item.TeamBId</td>
        <td>@item.Ergebnis.PunkteTeamA : @item.Ergebnis.PunkteTeamB</td>
    </tr>
    }
    </tbody>
</table>

<h2>Ko-Spiele</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Platte</th>
        <th>Startzeit</th>
        <th>SpielDauer</th>
        <th>Nr</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Nr</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.KoSpieleOhneErgebnis)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Platte</td>
            <td>@item.StartZeit</td>
            <td>@item.SpielDauer</td>
            <td>@item.TeamAId</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.TeamBId</td>
        </tr>
    }
    </tbody>
</table>