@using Microsoft.AspNetCore.Http.Features
@using MitternachtsCup.Interfaces
@model MitternachtsCup.ViewModels.TurnierplanVm

@{
    
}

<h1>Turnierplan</h1>

<h2>Gruppenspiele</h2>

<h3>Kommende</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>SpielName</th>
        <th>Tisch</th>
        <th>EDIT</th>
        <th>Startzeit</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Punkte Team A</th>
        <th>Punkte Team B</th>
        <th>POST</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppenSpieleOhneErgebnis)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Platte</td>
            <td>
                <a asp-controller="Spiel" asp-action="EditDetails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Platte</a>
            </td>
            <td>@item.StartZeit</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <form asp-controller="Spiel" asp-action="CreateErgebnis" method="post">
                <td>
                    <input type="hidden" name="spielId" value="@item.Id"/>
                    <input type="number" name="punkteTeamA" value="0" min="0" max="3" class="form-control"/>
                </td>
                <td>
                    <input type="number" name="punkteTeamB" value="0" min="0" max="3" class="form-control"/>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Post</button>
                </td>
            </form>

        </tr>
    }
    </tbody>
</table> 


<h3>Vergangene</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>SpielName</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppenSpieleMitErgebnis)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis.PunkteTeamA : @item.Ergebnis.PunkteTeamB</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table> 

<h2>Ko-Spiele</h2>

<h3>Kommende</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>SpielName</th>
        <th>Tisch</th>
        <th>EDIT</th>
        <th>Startzeit</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Punkte Team A</th>
        <th>Punkte Team B</th>
        <th>POST</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.KoSpieleOhneErgebnis)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Platte</td>
            <td>
                <a asp-controller="Spiel" asp-action="EditDetails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Platte</a>
            </td>
            <td>@item.StartZeit</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <form asp-controller="Spiel" asp-action="CreateErgebnis" method="post">
                <td>
                    <input type="hidden" name="spielId" value="@item.Id"/>
                    <input type="number" name="punkteTeamA" value="0" min="0" max="3" class="form-control"/>
                </td>
                <td>
                    <input type="number" name="punkteTeamB" value="0" min="0" max="3" class="form-control"/>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Post</button>
                </td>
            </form>
        </tr>
    }
    </tbody>
</table>

<h3>Vergangene</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>SpielName</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Ergebnis</th>
        <th>Gewinner</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.KoSpieleMitErgebnis)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.TeamAName</td>
            <td>@item.TeamBName</td>
            <td>@item.Ergebnis.PunkteTeamA : @item.Ergebnis.PunkteTeamB</td>
            <td>@item.GewinnerName</td>
        </tr>
    }
    </tbody>
</table>